<form action="/jobs/store" method="POST">
    <h2>Thêm người dùng mới</h2>

    <label for="name">Tên người dùng:</label><br>
    <input type="text" id="name" name="name"><br><br>

    <label for="descr">Mổ tả</label><br>
    <input type="text" id="decsr" name="description"><br><br>

    <label for="mainBranch">Chi nhanh chinh:</label><br>
    <input type="text" id="mainBranch" name="mainBranch"><br><br>

    <label for="image">link anh</label>
    <input type="text" id="image" name="image"><br><br>

    <label for="mapLink">Link map:</label><br>
    <input type="text" id="mapLink" name="mapLink"><br><br>

    <button type="submit">Tạo</button>
</form>